<h1>Welcome to {{title}}</h1>
<br><p>
    A league that shows teams, users, and matches for breakout nintendo(tm) children's video game Splatoon.
    <br>
    <br>Note: Duplicate names are not allowed but I did not add error message alerts.  It will just refresh the page.


</p>
</p>

